In [1]:
import pandas as pd

In [45]:
data = pd.read_pickle('./4g_moy7.pkl')
data.head()

,Cellule,moy 7 VolumeDL 2018-01,moy 7 VolumeDL2018-02,moy 7 VolumeDL2018-03,moy 7 VolumeDL2018-04,moy 7 VolumeDL2018-05,moy 7 VolumeDL2018-06,moy 7 VolumeDL2018-07,moy 7 VolumeDL2018-08,moy 7 VolumeDL2018-09,...,moy 7 VolumeDL2019-09,moy 7 VolumeDL2019-10,moy 7 VolumeDL2019-11,moy 7 VolumeDL2019-12,moy 7 VolumeDL2020-01,moy 7 VolumeDL2020-02,moy 7 VolumeDL2020-04,moy 7 VolumeDL2020-05,moy 7 VolumeDL2020-06,moy 7 VolumeDL2020-07
0,ACAD_e1,5.766686,4.683743,5.477557,5.925614,2.456371,3.047843,3.011643,3.755814,3.493671,...,0.877957,0.869171,0.945143,2.044814,2.452686,3.163743,1.947000,1.682414,2.554771,2.715057
1,ACAD_e2,5.252057,4.327729,3.220629,3.560643,3.607529,3.657800,2.518400,2.675000,3.274957,...,1.505171,1.148343,1.527757,2.358286,2.268443,2.359386,2.437643,2.455643,6.479643,3.487157
2,ACAD_e3,3.175871,3.270286,3.648800,4.327829,4.221557,3.733000,3.636357,4.110943,4.503629,...,2.301486,2.435143,1.619957,1.520271,2.504614,1.825186,0.530000,0.501400,0.533429,0.712286
3,ALMADIES02_e1,3.215943,3.335929,3.590543,3.999686,3.258671,9.710457,3.829700,4.483300,2.685800,...,3.924743,5.218571,4.095129,4.045029,3.480929,5.524157,3.506100,2.324114,2.831757,2.357200
4,ALMADIES02_e2,0.713614,0.933371,0.562829,0.923957,0.381486,0.434971,0.545000,0.261271,1.546743,...,0.952471,0.657143,0.723886,1.833914,2.573857,1.806257,1.497657,2.009086,1.877714,2.248529

In [5]:
avg7 = pd.read_excel("moy7.xlsx")
avg21 = pd.read_excel("moy21.xlsx")
Max = pd.read_excel("max.xlsx")

In [6]:
avg7.to_pickle("Avg7.pkl")
avg21.to_pickle("Avg21.pkl")
Max.to_pickle("Max.pkl")

In [44]:
frrr = agv7.columns.to_frame()[0:][1:]
frrr

                                       0
2019-01-01 00:00:00  2019-01-01 00:00:00
2019-02-01 00:00:00  2019-02-01 00:00:00
2019-03-01 00:00:00  2019-03-01 00:00:00
2019-04-01 00:00:00  2019-04-01 00:00:00
2019-05-01 00:00:00  2019-05-01 00:00:00
2019-06-01 00:00:00  2019-06-01 00:00:00
2019-07-01 00:00:00  2019-07-01 00:00:00
2019-08-01 00:00:00  2019-08-01 00:00:00
2019-09-01 00:00:00  2019-09-01 00:00:00
2019-10-01 00:00:00  2019-10-01 00:00:00
2019-11-01 00:00:00  2019-11-01 00:00:00
2019-12-01 00:00:00  2019-12-01 00:00:00
2020-01-01 00:00:00  2020-01-01 00:00:00
2020-02-01 00:00:00  2020-02-01 00:00:00
2020-03-01 00:00:00  2020-03-01 00:00:00
2020-04-01 00:00:00  2020-04-01 00:00:00
2020-05-01 00:00:00  2020-05-01 00:00:00
2020-06-01 00:00:00  2020-06-01 00:00:00
2020-07-01 00:00:00  2020-07-01 00:00:00
2020-08-01 00:00:00  2020-08-01 00:00:00
2020-09-01 00:00:00  2020-09-01 00:00:00
2020-10-01 00:00:00  2020-10-01 00:00:00
2020-11-01 00:00:00  2020-11-01 00:00:00
2020-12-01 00:00:00  2020-12-01 00:00:00
2021-01-01 00:00:00  2021-01-01 00:00:00
2021-02-01 00:00:00  2021-02-01 00:00:00
2021-03-01 00:00:00  2021-03-01 00:00:00
2021-04-01 00:00:00  2021-04-01 00:00:00
2021-05-01 00:00:00  2021-05-01 00:00:00
2021-06-01 00:00:00  2021-06-01 00:00:00
2021-07-01 00:00:00  2021-07-01 00:00:00
2021-08-01 00:00:00  2021-08-01 00:00:00
2021-09-01 00:00:00  2021-09-01 00:00:00
2021-10-01 00:00:00  2021-10-01 00:00:00
2021-11-01 00:00:00  2021-11-01 00:00:00
2021-12-01 00:00:00  2021-12-01 00:00:00
2022-01-01 00:00:00  2022-01-01 00:00:00
2022-02-01 00:00:00  2022-02-01 00:00:00
2022-03-01 00:00:00  2022-03-01 00:00:00
2022-04-01 00:00:00  2022-04-01 00:00:00
2022-05-01 00:00:00  2022-05-01 00:00:00
2022-06-01 00:00:00  2022-06-01 00:00:00
2022-07-01 00:00:00  2022-07-01 00:00:00
2022-08-01 00:00:00  2022-08-01 00:00:00
2022-09-01 00:00:00  2022-09-01 00:00:00
2022-10-01 00:00:00  2022-10-01 00:00:00
2022-11-01 00:00:00  2022-11-01 00:00:00
2022-12-01 00:00:00  2022-12-01 00:00:00
2023-01-01 00:00:00  2023-01-01 00:00:00
2023-02-01 00:00:00  2023-02-01 00:00:00
2023-03-01 00:00:00  2023-03-01 00:00:00
2023-04-01 00:00:00  2023-04-01 00:00:00
2023-05-01 00:00:00  2023-05-01 00:00:00
2023-06-01 00:00:00  2023-06-01 00:00:00
2023-07-01 00:00:00  2023-07-01 00:00:00
2023-08-01 00:00:00  2023-08-01 00:00:00
2023-09-01 00:00:00  2023-09-01 00:00:00
2023-10-01 00:00:00  2023-10-01 00:00:00
2023-11-01 00:00:00  2023-11-01 00:00:00
2023-12-01 00:00:00  2023-12-01 00:00:00

In [43]:
frrr.to_string()

'                                       0\n2019-01-01 00:00:00  2019-01-01 00:00:00\n2019-02-01 00:00:00  2019-02-01 00:00:00\n2019-03-01 00:00:00  2019-03-01 00:00:00\n2019-04-01 00:00:00  2019-04-01 00:00:00\n2019-05-01 00:00:00  2019-05-01 00:00:00\n2019-06-01 00:00:00  2019-06-01 00:00:00\n2019-07-01 00:00:00  2019-07-01 00:00:00\n2019-08-01 00:00:00  2019-08-01 00:00:00\n2019-09-01 00:00:00  2019-09-01 00:00:00\n2019-10-01 00:00:00  2019-10-01 00:00:00\n2019-11-01 00:00:00  2019-11-01 00:00:00\n2019-12-01 00:00:00  2019-12-01 00:00:00\n2020-01-01 00:00:00  2020-01-01 00:00:00\n2020-02-01 00:00:00  2020-02-01 00:00:00\n2020-03-01 00:00:00  2020-03-01 00:00:00\n2020-04-01 00:00:00  2020-04-01 00:00:00\n2020-05-01 00:00:00  2020-05-01 00:00:00\n2020-06-01 00:00:00  2020-06-01 00:00:00\n2020-07-01 00:00:00  2020-07-01 00:00:00\n2020-08-01 00:00:00  2020-08-01 00:00:00\n2020-09-01 00:00:00  2020-09-01 00:00:00\n2020-10-01 00:00:00  2020-10-01 00:00:00\n2020-11-01 00:00:00  2020-11-01 00:00:00\n2020-12-01 00:00:00  2020-12-01 00:00:00\n2021-01-01 00:00:00  2021-01-01 00:00:00\n2021-02-01 00:00:00  2021-02-01 00:00:00\n2021-03-01 00:00:00  2021-03-01 00:00:00\n2021-04-01 00:00:00  2021-04-01 00:00:00\n2021-05-01 00:00:00  2021-05-01 00:00:00\n2021-06-01 00:00:00  2021-06-01 00:00:00\n2021-07-01 00:00:00  2021-07-01 00:00:00\n2021-08-01 00:00:00  2021-08-01 00:00:00\n2021-09-01 00:00:00  2021-09-01 00:00:00\n2021-10-01 00:00:00  2021-10-01 00:00:00\n2021-11-01 00:00:00  2021-11-01 00:00:00\n2021-12-01 00:00:00  2021-12-01 00:00:00\n2022-01-01 00:00:00  2022-01-01 00:00:00\n2022-02-01 00:00:00  2022-02-01 00:00:00\n2022-03-01 00:00:00  2022-03-01 00:00:00\n2022-04-01 00:00:00  2022-04-01 00:00:00\n2022-05-01 00:00:00  2022-05-01 00:00:00\n2022-06-01 00:00:00  2022-06-01 00:00:00\n2022-07-01 00:00:00  2022-07-01 00:00:00\n2022-08-01 00:00:00  2022-08-01 00:00:00\n2022-09-01 00:00:00  2022-09-01 00:00:00\n2022-10-01 00:00:00  2022-10-01 00:00:00\n2022-11-01 00:00:00  2022-11-01 00:00:00\n2022-12-01 00:00:00  2022-12-01 00:00:00\n2023-01-01 00:00:00  2023-01-01 00:00:00\n2023-02-01 00:00:00  2023-02-01 00:00:00\n2023-03-01 00:00:00  2023-03-01 00:00:00\n2023-04-01 00:00:00  2023-04-01 00:00:00\n2023-05-01 00:00:00  2023-05-01 00:00:00\n2023-06-01 00:00:00  2023-06-01 00:00:00\n2023-07-01 00:00:00  2023-07-01 00:00:00\n2023-08-01 00:00:00  2023-08-01 00:00:00\n2023-09-01 00:00:00  2023-09-01 00:00:00\n2023-10-01 00:00:00  2023-10-01 00:00:00\n2023-11-01 00:00:00  2023-11-01 00:00:00\n2023-12-01 00:00:00  2023-12-01 00:00:00'

In [36]:
agv7.head()

,Cellule,2019-01-01 00:00:00,2019-02-01 00:00:00,2019-03-01 00:00:00,2019-04-01 00:00:00,2019-05-01 00:00:00,2019-06-01 00:00:00,2019-07-01 00:00:00,2019-08-01 00:00:00,2019-09-01 00:00:00,...,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00,2023-07-01 00:00:00,2023-08-01 00:00:00,2023-09-01 00:00:00,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00
0,ABENE_e1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.61217,9.50985,9.41008,10.5319,11.0346,12.336,9.38552,9.50659,0.527206,9.10724
1,ABENE_e2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.1091,16.7497,16.8546,19.0306,22.0038,21.728,23.3839,23.6855,11.2461,24.8468
2,ABENE_e3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.7472,11.4581,10.6735,12.295,10.2632,10.2695,10.3979,10.532,0.468159,11.3305
3,ACAD_e1,3.93487,1.23867,0.930343,1.13633,0.746186,1.34056,0.665986,0.793529,0.877957,...,4.7328,3.41914,3.00225,4.87793,6.31862,6.74182,5.99762,2.16493,2.36619,5.21315
4,ACAD_e11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.4688,12.298,10.8501,14.4698,13.2354,11.8256,12.4309,12.5912,12.7516,12.9119